A companhia farmacêutica Lusa_Med detém os direitos sobre dez projetos I&D, P1, …, P10, e pretende iniciá-los na tentativa de desenvolver novos medicamentos para o tratamento de dez tipos específicos de doenças. Cada projeto necessita de um coordenador distinto para o liderar e, atendendo à exigência dos projetos, cada coordenador só poderá liderar um só projeto. A Lusa_Med já selecionou dez cientistas seniores, C1, …, C10, e pretende saber como deve alocar os cientistas aos projetos. Para o efeito, a companhia elaborou uma tabela com a aptidão de cada cientista para liderar cada um dos projetos (medida na escala 0-100):

In [ ]:
import pandas as pd
import numpy as np

table = np.array([
    [ 70,  65,  55,  50,  90,  67,  80,  62, 100,  85],
    [ 74,  83,  54,  60, 100,  75,  50,  76,  82,  45],
    [ 71,  87,  66,  58,  74,  81,  48,  52, 100,  64],
    [ 50,  89,  78,  63,  51,  40,  48, 100,  68,  75],
    [100,  66,  83,  77,  54,  58,  93,  89,  53,  48],
    [ 80,  55,  70,  65,  94,  47,  60,  88,  73,  60],
    [ 87,  63,  90,  79,  47,  77,  90,  76,  85,  90],
    [ 67,  95, 100,  40,  70,  54,  70, 100,  65,  57],
    [ 90,  45,  88,  48,  65,  68,  80,  46,  71,  67],
    [ 67,  77,  50,  60, 100,  70,  80,  60,  65,  70]
])
table

array([[ 70,  65,  55,  50,  90,  67,  80,  62, 100,  85],
       [ 74,  83,  54,  60, 100,  75,  50,  76,  82,  45],
       [ 71,  87,  66,  58,  74,  81,  48,  52, 100,  64],
       [ 50,  89,  78,  63,  51,  40,  48, 100,  68,  75],
       [100,  66,  83,  77,  54,  58,  93,  89,  53,  48],
       [ 80,  55,  70,  65,  94,  47,  60,  88,  73,  60],
       [ 87,  63,  90,  79,  47,  77,  90,  76,  85,  90],
       [ 67,  95, 100,  40,  70,  54,  70, 100,  65,  57],
       [ 90,  45,  88,  48,  65,  68,  80,  46,  71,  67],
       [ 67,  77,  50,  60, 100,  70,  80,  60,  65,  70]])